form {
  display:inline-block;
  border: 2px solid ;
  width: 700px;
  float: left;
  margin: 0 auto;
  padding: 10px;
  white-space: pre;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
input {
  width: 75%;
}
h3 {
  margin: 0;
  padding: 0;
}

#submit {
  float: none;
  width: 49%;
  background-color: #FFB323;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#reset {
  float: none;
  width: 49%;
  background-color: #3C73FF;
  color: white;
  border: none;
  padding : 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display:inline-block;
}

#reset:hover {
  background-color: #4967B3;
}

.labels {
  float: left;
  width: 25%;
  margin-top: 5px;
}

.inputs {
  float: left;
  width: 75%;
  margin-top: 5px;
}

#buttons {
  width: 100%;
  display: inline-block;
  float: left;
  clear: left;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

#submit:hover {
  background-color: #FF7F12;
}

@media screen and (max-width: 600px) {
   form, .labels, .inputs, #submit {
     width: 100%;
     margin-top: 0;
   }
}
