form {
  display:inline-block;
  border: 2px solid ;
  width: 80%;
  height: auto;
  float: left;
  margin: 0 auto;
  padding: 10px;
  white-space: pre;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

h3 {
  margin: 0;
  padding: 0;
}

#submit {
  display:inline-block;
  float: left;
  width: 40%;
  background-color: #FFB323;
  color: white;
  padding: 10px ;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#reset {
  display:inline-block;
  float: left;
  width: 40%;
  background-color: #3C73FF;
  color: white;
  margin-top: 4px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;

}

#reset:hover {
  background-color: #4967B3;
}

label {
  display: inline-block;
  float: left;
  width: 19%;
  margin-top: 6px;


}

input {
  display: inline-block;
  float: left;
  width: 61%;
  margin-top: -15px;
}

#submit:hover {
  background-color: #FF7F12;
}

@media screen and (max-width: 700px) {
   form, input, label, #reset, #submit {
     width: 80%;
     margin: 0 auto;
     margin-top: 0;
   }
}
